@import "../../theme/var.less";
// 页面容器
.page-container {
  width:100%;
  position: relative;
}
// 数据文字提示
.page-hint-text {
  font-size: .32rem;
  color: #999;
  padding: .2rem;
  text-align: center;
}
// 按钮
.page-primary-button {
  background-color: @primary !important;
  border-color: @primary !important;
}

// 评论列表
.page-evaluation-list {
  height: auto;
  overflow: hidden;
  .evaluation-item {
    padding: 10px 0;
    .item-left {
      width: 44px;
      height: 44px;
      overflow: hidden;
    }
    .item-right {
      margin-left: 14px;
      .name {
        font-size: 14px;
        color: #606266;
      }
      .context {
        font-size: 14px;
        color: #333;
        line-height: 1.5;
        padding: 4px 0;
      }
    }
    .item-goods-info {
      width: 100%;
      color: #909399;
      font-size: 12px;
    }
  }
}
